* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  font-size: 10rem;
  color: white;
}

.header-download {
  width: 50vw;
  padding-top: 10vw;
  margin-top: auto;
  color: white;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 3rem;
}

.header-download span {
  font-weight: 800;
  font-size: 5rem;
}
