.logo {
  margin-top: -0.5vw;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.2vw 0.2vw grey;
  text-transform: uppercase;
  transform: rotate(-10deg);
  color: gold;
  font-family: $shadows;
}

.white {
  color: white !important;
}
