// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .box-intro {
    width: 80vw;
    height: 30vw;
    box-shadow: 0.5vw 0.5vw grey;
    position: relative;
    z-index: -1;
    margin-top: -13vw;
  }

  .header {
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0.3vw 0.3vw grey;
    transform: translate(-8vw, -3vw);
  }

  .portfolio {
    font-size: 5rem;
    font-style: italic;
    text-transform: uppercase;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .box-intro {
    width: 80vw;
    height: 30vw;
    box-shadow: 0.5vw 0.5vw grey;
    position: relative;
    z-index: -1;
    margin-top: -13vw;
  }

  .header {
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0.3vw 0.3vw grey;
    transform: translate(-8vw, -3vw);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .box-intro {
    width: 80vw;
    height: 30vw;
    box-shadow: 0.5vw 0.5vw grey;
    position: relative;
    z-index: -1;
    margin-top: -13vw;
  }

  .header {
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0.3vw 0.3vw grey;
    transform: translate(-10vw, -3vw);
  }
}
