@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'colors';
@import 'fonts';
@import 'intro';
@import 'aboutMe';
@import 'download';
@import 'mediaQueries';

body {
 background-image: url("../img/background.jpg");
}

.hidden {
   display: none;
}
.show{
   display: block;
}

.card {
      background: rgba(255,255,255, 0) !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background-color: white;
 }
