@import 'colors';
@import 'fonts';
@import 'intro';
@import 'aboutMe';
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'mediaQueries';

body {
 background-image: url("../img/background.jpg");
}

.hidden {
   display: none;
}
.show{
   display: block;
}
