// scss file to compile

* {
  margin: 0;
  padding: 0;
}

.section {
  height: 200vw;
  overflow: hidden;
  background-image: url("./img/background.jpg");
  background-repeat: repeat-y;
  // background-image: url("./background.jpg");
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-arrow-circle-down {
  font-size: 8vw;
  color: white;
}

.header {
  width: 50vw;
  padding-top: 10vw;
  margin-top: auto;
  color: white;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 3rem;

  span {
    font-weight: 800;
    font-size: 5rem;
  }

}
